{% extends '../base_login.html' %}



{% block content %}


<div class="container" style="background: transparent;">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="card card-login mb-4 col-md-8 col-12 p-4">
          <h3 class="header text-center">

            <p>Welcome Back!</p>
            <p class="mb-4">Login here</p>

          </h3>
          <div class="row justify-content-center">

            <form method="POST" class="col-12 text-center">
              {% csrf_token %}
              {% if messages %}
              <div class="form_error">
                  {% for m in messages %}
                    {{ m }}
                  {% endfor %} 
              {% endif %} 
              </div>
              <div class="form-group row mb-4">
                <label class="login-label col-md-5">Enter Email</label>
                  <div class="col-md-5">{{ form.email }}</div>
              </div>
            <div class="form-group row mb-4">
                <label class="login-label col-md-5">Enter Password</label>
                <div class="col-md-5">{{ form.password }}</div>
            </div>
            <div class="form-group text-center mb-4">
                <input type="submit" name="submit" value="Login" class="btn"/>
            </div>
            </form>

            <div class="text-center"><span style="color: #fff;">Don't have an account?</span> <a href="{% url 'signup' %}" class="btn">Register Here!</a></div>

          </div>
        </div>
      </div>
    </div>
    {% endblock %}
