{% extends '../base_login.html' %}



{%block content%}
<div class="login">
  <div class="container" style="background: transparent;">
    <div class="row justify-content-center trans">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="card card-login mb-4 col-md-8 col-12 p-4 text-center">
            <h3 class="header mb-4">Register Account</h3>
            <div class="row justify-content-center">
              <form method="POST">
                {% csrf_token %}
                <div class="form-group row mb-4">
                    <label class="login-label col-md-5">Enter Email</label>
                      <div class="col-md-5">{{ form.email }}</div>
                  </div>
                <div class="form-group row mb-4">
                    <label class="login-label col-md-5">Enter Password</label>
                    <div class="col-md-5">{{ form.password }}</div>
                </div>
                <div class="form-group row mb-4">
                    <label class="login-label col-md-5">Confirm Password</label>
                    <div class="col-md-5">{{ form.password2 }}</div>
                </div>
                <div class="form-group row mb-4" style="color: #fff;">
                {{ form.role }}
                </div>
                <div class="form-group text-center">
                  {% if form.errors %}
                  <ul>
                    {% for key,value in form.errors.items %} {{ value|escape }}
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
                <div class="form-group text-center">
                    <input type="submit" name="submit" value="Register" class="btn"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}